
body{
  background-color:#000033;
}
 
h1{
  font-size:30px;
  font-style:cursive;
  color:#fff;
}

h2{
  font-size:28px;
  font-style:cursive;
  color:#fff;
}

h3{
 font-size:25px;
  font-style:fantasy;
  color:#fff;
}

p{
  color:#fff;
   font-style:serif;
  font-size:18px;
}

li{
color:#fff;
}

a{
color:#fff;
font-size:20px;
}

