
body{
  background-color:#000080;
}
 
h1{
  font-size:30px;
  font-style:cursive;
  color:#fff;
}

h2{
  font-size:25px;
  font-style:cursive;
  color:#fff;
}

h3{
 font-size:20px;
  font-style:fantasy;
  color:#fff;
}

p{
  color:#fff;
   font-style:serif;
}

li{
color:#fff;
}
