
body{
  background-color:#dff;
}
 
h1{
  font-size:8px;
  font-style:cursive;
  color:#fff;
}

h2{
  font-size:5px;
  font-style:cursive;
  color:#fff;
}

h3{
 font-size:5px;
  font-style:fantasy;
  color:#fff;
}
